/* Types */

@import 'slide-list.css' screen;
@import 'slide-full.css' screen;

/* Content */

@import 'content/basic.css';
@import 'content/code.css';
@import 'content/footer.css';
@import 'content/inline.css';
@import 'content/lists.css';
@import 'content/quote.css';
@import 'content/table.css';

/* Elements */

@import 'elements/columns.css';
@import 'elements/copyright.css';
@import 'elements/cover.css';
@import 'elements/next.css';
@import 'elements/place.css';
@import 'elements/shout.css';

/* Modifiers */

@import 'modifiers/clear.css';
@import 'modifiers/gray.css';
@import 'modifiers/black.css';

/* Slide */

.slide {
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 75px var(--slide-side) 0;
    width: var(--slide-width);
    height: var(--slide-height);
    background-color: var(--color-violet);
}

.slide::after{
    position: absolute;
    top: 0;
    background: white;
    height: 2em;
    width: 5em;
    line-height: 2.1em;
    padding-top: 0;
    margin-top: 15px;
    left: 980px;
    font-size: 18px;
    text-align: left;
    padding-left: 0.5em;
    color: black;
    counter-increment: slide;
    content: counter(slide);
    box-sizing: border-box;
}
